- expanded = expanded_by_default?
- compliance_framework_doc_link = '<a href="%{url}" target="_blank" rel="noopener noreferrer">'.html_safe % { url: help_page_path('user/group/compliance_frameworks.md') }

- if show_compliance_frameworks?(@group)
  %section.settings.no-animate#js-compliance-frameworks-settings{ class: ('expanded' if expanded) }
    .settings-header
      %h4.settings-title.js-settings-toggle.js-settings-toggle-trigger-only
        = s_('GroupSettings|Compliance frameworks')
      = render Pajamas::ButtonComponent.new(button_options: { class: 'js-settings-toggle' }) do
        = expanded ? _('Collapse') : _('Expand')
      %p.gl-text-secondary.gl-mb-0
        = html_escape(s_('GroupSettings|Configure compliance frameworks to make them available to projects in this group. %{linkStart}What are compliance frameworks?%{linkEnd}')) % { linkStart: compliance_framework_doc_link, linkEnd: '</a>'.html_safe }
    .settings-content
      #js-compliance-frameworks-list{ data: compliance_frameworks_list_data(@group) }
